<div  class="layer3d">
    <div>
        <canvas #canvas (window:resize)="onResize($event)" ></canvas>
    </div>
</div>

<!--
<section class="layer2d">
    <h1>Hollow Mountain -- Votla Gora</h1>    
    <h2>An exploration of the caves of Tolminski Migovec</h2>
    <span>Scroll down<br><i class="chevron bottom"></i></span>
</section>
<section>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat ac mi consequat vulputate. Nam aliquam eros a est malesuada commodo. Duis vehicula ante a ipsum viverra, semper vestibulum ligula egestas. Praesent id ex dictum, varius felis non, vulputate leo. Nam neque urna, egestas in tellus at, dictum mattis urna. Vivamus semper, quam ut egestas pretium, leo metus lacinia leo, in cursus magna nulla sed dui. Aenean eros ex, varius at sem eget, pellentesque convallis lectus. Nullam porta a nisi ut tristique. Phasellus lobortis erat dolor.
</p>
<p>
Morbi in dignissim purus. Praesent vestibulum sapien non facilisis pharetra. Etiam vitae porttitor purus. Quisque lacinia luctus nibh, eget hendrerit enim eleifend non. Morbi vitae erat augue. Nunc ultrices vel mauris vitae rhoncus. Suspendisse congue tortor sit amet eros volutpat, sit amet pharetra ante varius. Praesent porta imperdiet rhoncus. Quisque eget congue ante, ac pellentesque nisl. Nunc id est ut eros volutpat pharetra.
</p>
<p>
Donec ac orci et est posuere suscipit. Praesent euismod lorem neque, nec efficitur justo vehicula sit amet. Praesent elementum tortor vitae tempus hendrerit. Phasellus at commodo dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet eros ut porttitor auctor. Sed auctor laoreet diam non vulputate.
</p>
Nunc auctor, velit quis pellentesque imperdiet, ipsum metus blandit elit, sit amet ultrices lacus mauris nec nisl. Nam a libero rutrum, efficitur felis eu, efficitur ligula. In at elit sed lacus feugiat tempus nec sit amet nunc. Phasellus aliquet neque nec tellus faucibus, non tempus nibh tincidunt. Duis porttitor orci sem, id aliquet leo tristique eget. Etiam a nulla varius, lobortis risus et, blandit ipsum. Mauris tristique dolor ut justo egestas, nec dictum arcu hendrerit. Nullam ac lorem sit amet est dictum varius nec ut sapien. Pellentesque mattis eu risus ut tempor. Donec rhoncus malesuada interdum. Nam luctus, nisi sit amet condimentum elementum, arcu felis porttitor lorem, eget porttitor nulla metus ac erat. In varius eleifend dui vel rutrum. Suspendisse pretium tristique scelerisque. Aliquam iaculis tortor ipsum, at vehicula ex fringilla sit amet.
<p>
Phasellus consequat arcu sodales ex pretium rhoncus. Integer fermentum auctor imperdiet. Nullam sit amet turpis mollis, bibendum massa vitae, efficitur odio. Donec pulvinar id massa ut consectetur. Vivamus lectus nisi, malesuada et elit maximus, posuere commodo libero. Duis condimentum ultrices ante, iaculis pretium velit interdum sit amet. Nullam viverra nibh metus.
</p>
</section>-->