<app-world azimuth=10  ></app-world> 
<section id="slide1">
<!-- <h1>Votla Gora | The Hollow Mountain
</h1> -->

<pre>{{ viewParams | json}}</pre>


<h1>{{ titletext }}</h1>
<h2>
  The caves of Tolminski Migovec
</h2>
<!-- <p>{{ world.maxDisplayDate | date:'yyyy'}}</p> -->
</section>
<section id="slideZoomin">
<h1>Tolminski Migovec</h1>
<h2>Location of the Migovec Plateau</h2>
</section>
<section id="slide1974">
<h1>1974</h1>
<h2>Initial exploration of the plateau</h2>
</section>
<section id="slide1978">
<h1>1978</h1>
<h2>M2 to -350m</h2>
</section>

<div>
</div>